
.period-cmp {
    position: relative;
    background-color: rgb(0, 0, 54);
    border: solid 1px rgb(63, 63, 211);
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 80%;
}

.event-cmp {
    position: absolute;
    background-color: rgb(243, 255, 138);
    box-sizing: border-box;
    height: 90vh;
    width: 3px;
}
