
.period-cmp {
    position: relative;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 80%;

    color: #e6e6e6;
    border: 1px solid #646464;
    background-color: #242424;
    border-radius: 3px;
}

.event-cmp {
    position: absolute;
    background-color: rgb(243, 255, 138);
    box-sizing: border-box;
    height: 90vh;
    width: 3px;
}
